script.
    (function () {
        window.Global = {
            APP_KEY: '#{app_key}',
            APP_PWD: '#{app_pwd}',
            DEBUG_API: '#{debugApi}',
            BIZ_NAME: '#{biz_name}',
            INDEX_URL: 'http://tms.mockuai.com/service/json?file=#{biz_code}index&type=jsonp',
            MAIN_COLOR: '#{main_color}',
            CFG_WITHOUT_CATE: '#{cfg_without_cate}',
            CFG_WITHOUT_SEARCH: '#{cfg_without_search}',
            CUSTOM_WX_SHARE: '#{custom_wx_share}',
            SERVICE_URL: '#{service_url}',
            CS_TEL: '#{cs_tel}',
            WX_DOMAIN: '#{wx_domain}',
            WX_SHARE_DOMAIN: '#{wx_share_domain}',
            CUSTOM_WX_LOGO: '#{custom_wx_logo}',
            CUSTOM_WX_TITLE: '#{custom_wx_title}',
            CUSTOM_WX_DESC: '#{custom_wx_desc}',
            WEIXINPAY:'#{weixinpay}',
            UNIONPAY: '#{unionpay}',
            ALIPAY: '#{alipay}',
            TONGTONGPAY: 'false',
            orderEnableInputItemNumber: 'true',
        }
    })();
